<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="WinForms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="WinForms.Properties.Settings.DB_JT18ConnectionString"
            connectionString="Data Source=TOPHNB3690\SQLEXPRESS01;Initial Catalog=DB_JT18;Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<userSettings>
		<WinForms.Properties.Settings>
			<setting name="Code" serializeAs="String">
				<value>Wash</value>
			</setting>
			<setting name="Name" serializeAs="String">
				<value>Jembatan Timbang 1.8</value>
			</setting>
			<setting name="ComName" serializeAs="String">
				<value>COM11</value>
			</setting>
			<setting name="nilai" serializeAs="String">
				<value>30000</value>
			</setting>
		</WinForms.Properties.Settings>
	</userSettings>
</configuration>